body {
    width: 380px;
    margin: 0;
  
    font-size: 14px;
    font-family: "Montserrat", "Nunito Sans", sans-serif;
  }

h1 {
    font-style: Nunito Sans;
    font-weight: bold;
    font-size: 36px;
}

.button {
    font-style: Nunito Sans;
    font-weight: bold;
    font-size: 18px;
}

.group1{
    background-color: #1A1A1A;
    color: #FFFFFF;
    text-align: center;
}

.logo {
    float: left;
}
.menu {
    float: right;
}