body {
    width: 320px;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }

h1 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.5px; /*Отступы между буквами*/
}   
h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px; /*Отступы между буквами*/
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}

.button {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
}

.group1{
    background-color: #1A1A1A;
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
    height: 500px;
}

.logo {
    float: left;
    padding-left: 19px;
    padding-top: 18px;
}
.menu {
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 270px;
}
.banner h1 {
    margin: 0;
    width: 200px;
    height: 84px;
    padding: 119px 60px 0px;
    text-indent: -8px; /*первая строка*/
}

.banner p {
    width: 200px;
    height: 37px;
    padding: 7px 60px 48px;
    margin: 0px;
    
}
.banner input {
    font-family: "Montserrat";
    font-size: 17.5px;
    font-weight: 700;
    width: 134px;
    height: 47px;
    margin: 0px 93px;
    padding: 12px 16px 11px;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: 0px;
    border-radius: 35px;
    background-color: #27AE61;
}
.ellipse {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    position: absolute;
}

.e1 {
    left: 123px;
    top: 475px;
}

.e2 {
    left: 143px;
    top: 475px;
    background-color: #27AE61;
    border-color: #27AE61;
}

.e3 {
    left: 163px;
    top: 475px;
}

.e4 {
    left: 183px;
    top: 475px;
}

.group2 {
    background-color: #FFFFFF;
    margin: 0px 18px 0px;
    height: ;
}

.group2 .photo{
    width: 280px;
    height: 280px;
    margin-top: 20px;
    margin-left: 2px;
}
.education h2{
    padding: 0px;
    margin: 19px 0px 0px;
}
.education p {
    margin: 18px 0px 0px;
    padding: 0px;
    width: 277px;
    height: 144px;
    color: #484848;
}