h1 {
    font-style: Nunito Sans;
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-style: Nunito Sans;
}

.button {
    font-style: Nunito Sans;
    font-weight: bold;
    font-size: 18px;
}

.group1{
    background-color: black;
    color: #FFFFFF;
}